@charset "utf-8";
/* body content */
body, html {
	height:100%;
	margin: 0;
	background-image:url('../img/dark_bg.jpg');
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;	
}

.full-content {
	height:100vh;
}

/* content tekst */
.some_tekst {
	width:75%;
	text-align: justify;
	text-shadow: 1px 1px 5px black;
	color:whitesmoke;
}

.some_tekst_box {
	margin:auto;
}

/* some kind of brand header */
.bracket {
	font-size:1.3em; 
	vertical-align: -5%;
}

#some_kind {
	margin-top:-15px;
	font-size:3em;
	font-family: Impact, Charcoal, sans-serif;	
}

.some_red {
	color:red;
}

.cv {
	margin-top:-20px;
}

/* side bar menu */
.sidebar, .navbar {
	background:url('../img/20p_bg.png') repeat;
	display: flex;	
}

.sidebar_menu {
	text-shadow: 2px 2px 5px black;
	color:whitesmoke;	
	list-style: none;
	text-align: right;
	width:100%;
	margin:auto;
}

/* theme change icon section */
.color_theme {
	margin-bottom:5px;
	margin-right:10px;
	vertical-align: middle;
	font-size:0.7em;
	float:right;
}

.color_theme_ico {
	width:20px;
	height:20px;
	background-color:red;
	display:inline-block;
}

.dark {
	background:#4C4C4E;
	border-color: #DADADC;
}

.light {
	background:#DADADC;	
	border-color: #4C4C4E;
}

/* theme icons divided */
.light_dark {
	background:#DADADC;
	border-right: 10px solid #4C4C4E;
}

.dark_light {
	background:#DADADC;
	border-left: 10px solid #4C4C4E;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
	color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
	width:100%;
}

/* footer resolution display */
@media only screen and (max-width: 768px){
	.footer {
		display: none;
	}
}


/* menu position section */
@media only screen and (min-width: 768px){
	nav.navbar{
		display:none;	
	}
}

@media only screen and (max-width: 768px){
	div.sidebar{
		display: none;
	}
}

/* font fluidity */
@media screen and (min-width: 320px) {
	#some_kind {
	  font-size: calc(1.5em + 6 * ((100vw - 320px) / 680));
	}

	.some_tekst {
		font-size: calc(0.5em + 6 * ((100vw - 320px) / 680));
	  }

	h4 {
		font-size: calc(1em + 6 * ((100vw - 320px) / 680));
	  }
	}
 @media screen and (min-width: 1000px) {
	#some_kind {
	  font-size: 3em;
	}

	.some_tekst {
		font-size: 1em;
	  }
  }

